.navbar-nav { 
}

.navbar-nav a { 
}

.navbar-nav a:hover { 
}

#settori ul { 
	display:      none; 
	z-index:      99; 
}


#storie ul { 
	display:      none; 
	z-index:      99; 
}

#avviso {
	clear: both;
  display: block;
	float: right;
	width: 650px;
	text-align: center;
	padding: 5px;
	border: 1px dotted darkred;
	margin: 5px;
}

.links {
	list-style: url("/fossoraibano/img/pointer.gif"); 
}

.links a {
	text-decoration: none;
	color: darkred;
}

.links a:hover {
	text-decoration: underline;
	color: darkred;
}

.domanda {
	color:   darkred;
	width:   80%;
	padding: 10px;
	margin:  5px 5px;
	border-left: 2px solid darkred;
}

.risposta {
	width: 80%;
	margin: 5px 25px;
}

.via {
	color: darkred;
}

.autore {
  text-align: right;
	margin: 20px 50px;
}

.marcato {
	color:     #b2875d;
}

p.marcato {
	color:     #b2875d;
}

