<!DOCTYPE html>
<html lang="{{ page.lang | default: 'it' }}">
{% include head.html %}
<body{% if page.body_class %} class="{{ page.body_class }}"{% endif %}{% if page.body_style %} style="{{ page.body_style }}"{% endif %}>
  {% unless page.hide_nav %}
  {% include nav.html %}
  {% endunless %}
  <main class="">
    {{ content }}
  </main>
  <script src="{{ '/bootstrap.bundle.min.js' | relative_url }}"></script>
  {% if page.body_scripts %}
    {% for script in page.body_scripts %}
  <script src="{{ script | relative_url }}"></script>
    {% endfor %}
  {% endif %}
</body>
</html>
